<!DOCTYPE HTML>
<html>
	<head>
		<title>ZJIN's Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
	</head>
	<body class="is-preload">

			<header id="header">
				<p class="logo">欢迎进入郑键楠的主页</p>
			</header>

			<section id="banner">
				<div class="inner">
					<h1>个人简介</h1>
					<p></p>
					<p></p>
					<p></p>
					<table border="0">
					<tr>
  						<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp姓名</td>
  						<td>郑键楠</td>
					</tr>
					<tr>
  						<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp性别</td>
  						<td>男</td>
					</tr>    
					<tr>
  						<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp专业</td>
  						<td>计算机科学与技术</td>
					</tr> 
					<tr>
  						<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp爱好</td>
  						<td>追剧、打游戏、户外运动</td>
					</tr> 
					</table>
				</div>				
			</section>

			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>实验信息导航</h2>
						<p>在这一部分，你将可以看到每次的实验题目与简单实验信息。<br />单击实验图标，可以进一步了解实验详情，并选择提交实验项目或者下载已经上传的实验项目</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="#lab1" class="icon fa-vcard-o"><span class="label">Icon</span></a>
									<h3>实验一</h3>
								</header>
								<p>音频采集与处理</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#lab2" class="icon fa-files-o"><span class="label">Icon</span></a>
									<h3>实验二</h3>
								</header>
								<p>多媒体图像处理</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#lab3" class="icon fa-floppy-o"><span class="label">Icon</span></a>
									<h3>实验三</h3>
								</header>
								<p>动画制作与视频剪辑</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#lab4" class="icon fa-line-chart"><span class="label">Icon</span></a>
									<h3>实验四</h3>
								</header>
								<p>个人简易网站开发</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
									<h3>未完待续......</h3>
								</header>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-qrcode"><span class="label">Icon</span></a>
									<h3>未完待续......</h3>
								</header>
							</div>
						</section>
					</div>
				</div>
			</section>



			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>实验提交部分</h2>
						<p>在这一部分你可以了解到实验的详细信息以及进行提交试验</p>
					</header>
					{% for v in get_flashed_messages(category_filter=['ok']) %}
        				<p style="color:green;">{{ v }}</p>
    				{% endfor %}
    				{% for v in get_flashed_messages(category_filter=['err']) %}
        				<p style="color:red;">{{ v }}</p>
    				{% endfor %}
					<div id = "lab1">
						<hr><h2>实验一</h2>
						<p>用Windows录音机录制一首自己唱的歌或朗诵，准备一段背景音乐，使用Cool Edit导入录制的声音文件和背景音乐，并进行合成。</p>
						<h3>提交实验</h3>
    						<form id="form1" method="post" action="/api/upload" enctype="multipart/form-data">
    							<div>
        							<input id="File1" type="file" name="myfile"/>  <!--后台代码中获取文件是通过form的name来标识的-->
        							<input type="submit"></input>
    							</div>
							</form>
					<div id = "lab2">
						<hr><h2>实验二</h2>
						<p>选取适当的图片素材和世界地图，运用各种选取方法制作一幅由世界名胜照片揉和在一起的背景。利用图层效果制作一幅有地形质感的世界地图。调整并合并所有层存储为各种图像文件格式并压缩。</p>
						<p>显示一个bmp文件的C程序，并实现图像亮度、对比度调整、图像平移、放大、旋转和镜像。</p>
						<h3>提交实验</h3>
    						<form id="form1" method="post" action="/api/upload" enctype="multipart/form-data">
    							<div>
        							<input id="File1" type="file" name="myfile"/>  <!--后台代码中获取文件是通过form的name来标识的-->
        							<input type="submit"></input>
    							</div>
							</form>
					</div>
					<div id = "lab3">
						<hr><h2>实验三</h2>
						<p>根据实验1中得到的歌曲或配乐朗诵，做一段Flash（不少于1分半钟），并合成为一段动画MV或别的视频内容形式（比如AE，PR，爱剪辑）不少于8分钟。支持原创。</p>
						<h3>提交实验</h3>
    						<form id="form1" method="post" action="/api/upload" enctype="multipart/form-data">
    							<div>
        							<input id="File1" type="file" name="myfile"/>  <!--后台代码中获取文件是通过form的name来标识的-->
        							<input type="submit"></input>
    							</div>
							</form>
					</div>
					<div id = "lab4">
						<hr><h2>实验四</h2>
						<p>个人页面开发，包含个人基本信息，整个课程的各次实验信息，并实现媒体文件上传、下载功能实现。</p>
						<h3>提交实验</h3>
    						<form id="form1" method="post" action="/api/upload" enctype="multipart/form-data">
    							<div>
        							<input id="File1" type="file" name="myfile"/>  <!--后台代码中获取文件是通过form的name来标识的-->
        							<input type="submit"></input>
    							</div>
							</form>
					</div>
				</div>
			</section>

			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>实验下载部分</h2>
						<p>在这一部分你可以下载已经提交试验</p>
					</header>
					<div>
						<form action="/download/lab1.zip" method="get" enctype="multipart/form-data">
            				<input type="submit" value="实验一----音频采集与处理">
        				</form>
        				<form action="/download/lab2.zip" method="get" enctype="multipart/form-data">
            				<input type="submit" value="实验二----多媒体图像处理">
        				</form>
        				<form action="/download/lab3.zip" method="get" enctype="multipart/form-data">
            				<input type="submit" value="实验三----动画制作与视频剪辑">
            			</form>
            			<form action="/download/lab4.zip" method="get" enctype="multipart/form-data">
            				<input type="submit" value="实验四----个人简易网站开发">
        				</form>
					</div>

				</div>
			</section>

			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>记录美好生活每一天</h2>
					<p><br/><br/><br/><br/><br/>powered by ZJIN@2018-2019.<br/>
						all rights reserved</p>
				</div>
			</section>
    </div>


			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>